@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: cyan;
    text-decoration: underline;
    font-weight: bold;
}
body ,html{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    margin: 0 30px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('bgsmea.jpeg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: greenyellow;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 4vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: greenyellow;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 15px;
    width: 20px;
    cursor: pointer;
    display: none;
}
.navbar li a{
    color: white;
}

/*Events*/

section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: black;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event .row{
    margin-top: 50px;
}
.event .col img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
p{
    padding: 0px;
    margin: 10px auto;
    left: 10vw;
    font-size: medium;
}

/*Explore*/

.explore{
    width: 100vw;
    height: 100vh;
    background-image: url('pkbn.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 4.6vmin;
    margin: 30px;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: white;
    font-size: 15.8px;
    font-style: italic;
    
}
.explore-content p span{
    color: greenyellow;
    font-size: 40px;
}

/*Tour*/

.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
}
.tour .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.content-col h1{
    font-size: 5vmin;
    color: black;
}
.content-col h4{
    color: black;
}
.content-col .line{
    margin-left: -1px;
}
.content-col p{
    padding: 0px;
    margin: 10px auto;
    left: 10vw;
}
.content-col .ctn{
    margin-left: -100px;
}
.image-gallery img{
    max-width: 300px;
    margin: 10px;
}
p{
    color: black;
}

/*footer*/

.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: rgb(24, 24, 24);
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
}
.footer p a{
    color: white;
}

/*Mobile Device*/

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-link{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-image: url('pbb.jpeg');
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 20%;
    }
    .nav-link li{
        margin: 10px auto;
    }

    /*event*/
    
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }

    /*explore*/

    .explore-content{
        width: 100%;
    }
    .tour .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        width: 90%;
    }
    .footer{
        padding: 10px;
    }
}       

/*animation*/
img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
background: whitesmoke;
color: cyan;
box-shadow: 2px 2px 5px black;
}
p{
    transform: scale(1.1);
}